.about {
    padding: 100px 0 100px;

    &__title {
        padding: 0 0 100px;
        text-align: center;

        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;

        color: #FFFFFF;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: relative;
        counter-increment: count;


        &--reverse {
            flex-direction: row-reverse;

            position: relative;
            counter-increment: count;
        }
    }

    &__text {
        display: flex;
        align-items: flex-end;
        text-align: end;
        flex-basis: 445px;
        margin: 0 245px 0 0;

        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        line-height: 21px;

        &::before {
            content: counter(count, decimal-leading-zero);

            position: absolute;
            top: 0;
            right: 245px;

            font-size: 190px;
            font-style: normal;
            font-weight: 900;
            line-height: 232px;

            color: rgba(112, 123, 184, 0.15);
        }

        &--reverse {
            margin: 0 0 0 245px;
            text-align: start;
            color: #FFFFFF;

            &::before {
                content: counter(count, decimal-leading-zero);

                position: absolute;
                top: 0;
                left: 245px;

                font-size: 190px;
                font-style: normal;
                font-weight: 900;
                line-height: 232px;

                color: rgba(255, 255, 255, 0.15);
            }
        }
    }

    &__img--regtangle-bold {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 200;

            width: 672px;
            height: 410px;

            border: 10px solid #707BB8;
        }
    }

    &__img--regtangle-slim {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 30;

            width: 100px;
            height: 100px;
            border: 2px solid pink;
        }
    }
}


// FIXME regtangle bold and slim 