// FIXME change position navigation - need to right , together with user-profile

.header {
    width: 100%;
    height: 78px;
    background: rgba(255, 255, 255, 0.75);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__logo {}

    &__nav {
        & ul {
            display: flex;
            flex-direction: row;
            gap: 50px;
            left: auto;

            & a {
                color: $color-black;
            }
        }

        &--active {
            font-weight: 700;
        }
    }

    &__user-profile {}
}